.jumbotron {
    background-color: #db4437;
    color: white;
    padding: 2.125rem 0 !important;
    margin-bottom: 2rem;
    border-radius: 0 !important;
}

.jumbotron p {
    font-size: 1.125rem !important;
    line-height: 1.75rem;
}

.welcome {
    padding: 2.5rem 1rem 0 !important;
    margin-bottom: 0 !important;
}

.welcome p {
    margin-bottom: 1rem;
}

.welcome img {
    max-height: 245px;
    max-width: 100%;
    margin: 0 auto;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters>.col,.no-gutters>[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12,.col,.col-auto,.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm,.col-sm-auto,.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12,.col-md,.col-md-auto,.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg,.col-lg-auto,.col-xl-1,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl,.col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}

.col-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.col-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.col-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.col-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.col-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.order-first {
    order: -1;
}

.order-last {
    order: 13;
}

.order-0 {
    order: 0;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

.order-4 {
    order: 4;
}

.order-5 {
    order: 5;
}

.order-6 {
    order: 6;
}

.order-7 {
    order: 7;
}

.order-8 {
    order: 8;
}

.order-9 {
    order: 9;
}

.order-10 {
    order: 10;
}

.order-11 {
    order: 11;
}

.order-12 {
    order: 12;
}

.offset-1 {
    margin-left: 8.33333%;
}

.offset-2 {
    margin-left: 16.66667%;
}

.offset-3 {
    margin-left: 25%;
}

.offset-4 {
    margin-left: 33.33333%;
}

.offset-5 {
    margin-left: 41.66667%;
}

.offset-6 {
    margin-left: 50%;
}

.offset-7 {
    margin-left: 58.33333%;
}

.offset-8 {
    margin-left: 66.66667%;
}

.offset-9 {
    margin-left: 75%;
}

.offset-10 {
    margin-left: 83.33333%;
}

.offset-11 {
    margin-left: 91.66667%;
}

@media (min-width: 576px) {
    .col-sm {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }

    .col-sm-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }

    .col-sm-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .col-sm-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-sm-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .col-sm-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-sm-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col-sm-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .col-sm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-sm-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .col-sm-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .order-sm-first {
        order: -1;
    }

    .order-sm-last {
        order: 13;
    }

    .order-sm-0 {
        order: 0;
    }

    .order-sm-1 {
        order: 1;
    }

    .order-sm-2 {
        order: 2;
    }

    .order-sm-3 {
        order: 3;
    }

    .order-sm-4 {
        order: 4;
    }

    .order-sm-5 {
        order: 5;
    }

    .order-sm-6 {
        order: 6;
    }

    .order-sm-7 {
        order: 7;
    }

    .order-sm-8 {
        order: 8;
    }

    .order-sm-9 {
        order: 9;
    }

    .order-sm-10 {
        order: 10;
    }

    .order-sm-11 {
        order: 11;
    }

    .order-sm-12 {
        order: 12;
    }

    .offset-sm-0 {
        margin-left: 0;
    }

    .offset-sm-1 {
        margin-left: 8.33333%;
    }

    .offset-sm-2 {
        margin-left: 16.66667%;
    }

    .offset-sm-3 {
        margin-left: 25%;
    }

    .offset-sm-4 {
        margin-left: 33.33333%;
    }

    .offset-sm-5 {
        margin-left: 41.66667%;
    }

    .offset-sm-6 {
        margin-left: 50%;
    }

    .offset-sm-7 {
        margin-left: 58.33333%;
    }

    .offset-sm-8 {
        margin-left: 66.66667%;
    }

    .offset-sm-9 {
        margin-left: 75%;
    }

    .offset-sm-10 {
        margin-left: 83.33333%;
    }

    .offset-sm-11 {
        margin-left: 91.66667%;
    }
}

@media (min-width: 768px) {
    .col-md {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }

    .col-md-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }

    .col-md-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .col-md-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-md-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .col-md-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col-md-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-md-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .col-md-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .order-md-first {
        order: -1;
    }

    .order-md-last {
        order: 13;
    }

    .order-md-0 {
        order: 0;
    }

    .order-md-1 {
        order: 1;
    }

    .order-md-2 {
        order: 2;
    }

    .order-md-3 {
        order: 3;
    }

    .order-md-4 {
        order: 4;
    }

    .order-md-5 {
        order: 5;
    }

    .order-md-6 {
        order: 6;
    }

    .order-md-7 {
        order: 7;
    }

    .order-md-8 {
        order: 8;
    }

    .order-md-9 {
        order: 9;
    }

    .order-md-10 {
        order: 10;
    }

    .order-md-11 {
        order: 11;
    }

    .order-md-12 {
        order: 12;
    }

    .offset-md-0 {
        margin-left: 0;
    }

    .offset-md-1 {
        margin-left: 8.33333%;
    }

    .offset-md-2 {
        margin-left: 16.66667%;
    }

    .offset-md-3 {
        margin-left: 25%;
    }

    .offset-md-4 {
        margin-left: 33.33333%;
    }

    .offset-md-5 {
        margin-left: 41.66667%;
    }

    .offset-md-6 {
        margin-left: 50%;
    }

    .offset-md-7 {
        margin-left: 58.33333%;
    }

    .offset-md-8 {
        margin-left: 66.66667%;
    }

    .offset-md-9 {
        margin-left: 75%;
    }

    .offset-md-10 {
        margin-left: 83.33333%;
    }

    .offset-md-11 {
        margin-left: 91.66667%;
    }
}

@media (min-width: 992px) {
    .col-lg {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }

    .col-lg-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }

    .col-lg-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .col-lg-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-lg-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .col-lg-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-lg-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col-lg-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .col-lg-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-lg-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .col-lg-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .order-lg-first {
        order: -1;
    }

    .order-lg-last {
        order: 13;
    }

    .order-lg-0 {
        order: 0;
    }

    .order-lg-1 {
        order: 1;
    }

    .order-lg-2 {
        order: 2;
    }

    .order-lg-3 {
        order: 3;
    }

    .order-lg-4 {
        order: 4;
    }

    .order-lg-5 {
        order: 5;
    }

    .order-lg-6 {
        order: 6;
    }

    .order-lg-7 {
        order: 7;
    }

    .order-lg-8 {
        order: 8;
    }

    .order-lg-9 {
        order: 9;
    }

    .order-lg-10 {
        order: 10;
    }

    .order-lg-11 {
        order: 11;
    }

    .order-lg-12 {
        order: 12;
    }

    .offset-lg-0 {
        margin-left: 0;
    }

    .offset-lg-1 {
        margin-left: 8.33333%;
    }

    .offset-lg-2 {
        margin-left: 16.66667%;
    }

    .offset-lg-3 {
        margin-left: 25%;
    }

    .offset-lg-4 {
        margin-left: 33.33333%;
    }

    .offset-lg-5 {
        margin-left: 41.66667%;
    }

    .offset-lg-6 {
        margin-left: 50%;
    }

    .offset-lg-7 {
        margin-left: 58.33333%;
    }

    .offset-lg-8 {
        margin-left: 66.66667%;
    }

    .offset-lg-9 {
        margin-left: 75%;
    }

    .offset-lg-10 {
        margin-left: 83.33333%;
    }

    .offset-lg-11 {
        margin-left: 91.66667%;
    }
}

@media (min-width: 1200px) {
    .col-xl {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }

    .col-xl-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }

    .col-xl-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .col-xl-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-xl-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-xl-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .col-xl-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-xl-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-xl-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col-xl-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .col-xl-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-xl-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .col-xl-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .col-xl-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .order-xl-first {
        order: -1;
    }

    .order-xl-last {
        order: 13;
    }

    .order-xl-0 {
        order: 0;
    }

    .order-xl-1 {
        order: 1;
    }

    .order-xl-2 {
        order: 2;
    }

    .order-xl-3 {
        order: 3;
    }

    .order-xl-4 {
        order: 4;
    }

    .order-xl-5 {
        order: 5;
    }

    .order-xl-6 {
        order: 6;
    }

    .order-xl-7 {
        order: 7;
    }

    .order-xl-8 {
        order: 8;
    }

    .order-xl-9 {
        order: 9;
    }

    .order-xl-10 {
        order: 10;
    }

    .order-xl-11 {
        order: 11;
    }

    .order-xl-12 {
        order: 12;
    }

    .offset-xl-0 {
        margin-left: 0;
    }

    .offset-xl-1 {
        margin-left: 8.33333%;
    }

    .offset-xl-2 {
        margin-left: 16.66667%;
    }

    .offset-xl-3 {
        margin-left: 25%;
    }

    .offset-xl-4 {
        margin-left: 33.33333%;
    }

    .offset-xl-5 {
        margin-left: 41.66667%;
    }

    .offset-xl-6 {
        margin-left: 50%;
    }

    .offset-xl-7 {
        margin-left: 58.33333%;
    }

    .offset-xl-8 {
        margin-left: 66.66667%;
    }

    .offset-xl-9 {
        margin-left: 75%;
    }

    .offset-xl-10 {
        margin-left: 83.33333%;
    }

    .offset-xl-11 {
        margin-left: 91.66667%;
    }
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border: 0;
    padding: 0.625rem 0;
    margin-bottom: 20px;
    box-shadow: none;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    background-color: white;
    color: #555;
}

.navbar>.container,.navbar>.container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navbar.scrollUp {
    -webkit-transform: translateY(-70px);
    transform: translateY(-70px);
    box-shadow: none !important;
}

.navbar.navbar-shadow {
    box-shadow: 0 1px 8px rgba(0,0,0,0.3);
}

.navbar-brand {
    display: inline-block;
    white-space: nowrap;
    position: relative;
    color: inherit;
    height: 50px;
    font-size: 1.125rem;
    line-height: 30px;
    padding: 14px 15px 6px;
}

.navbar-brand:hover,.navbar-brand:focus {
    text-decoration: none;
}

.navbar-brand svg {
    height: 20px;
    fill: #db4437;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-left: auto;
    margin-top: 0;
}

.navbar-nav .nav-item.active .nav-link,.navbar-nav .nav-item.active .nav-link:hover,.navbar-nav .nav-item.active .nav-link:focus {
    color: inherit;
    background-color: rgba(0,0,0,0.04);
    font-weight: 500;
}

.navbar-nav .nav-link {
    display: block;
    position: relative;
    color: inherit;
    padding: .9375rem;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 3px;
    line-height: 20px;
}

.navbar-nav .nav-link:hover,.navbar-nav .nav-link:focus {
    text-decoration: none;
}

.navbar-nav .nav-link svg {
    margin-top: -7px;
    top: 5.5px;
    position: relative;
    margin-right: 3px;
    height: 1.25rem;
    width: 1.25rem;
    fill: currentColor;
}

.btn,.navbar-nav .nav-item .btn {
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    border-radius: .25rem;
}

.navbar-toggler:hover,.navbar-toggler:focus {
    text-decoration: none;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.navbar-toggler .navbar-toggler-icon {
    position: relative;
    width: 22px;
    height: 2px;
    vertical-align: middle;
    outline: 0;
    display: block;
    border-radius: 1px;
}

.navbar-toggler .navbar-toggler-icon+.navbar-toggler-icon {
    margin-top: 4px;
}

@media (max-width: 575.98px) {
    .navbar-expand-sm>.container,.navbar-expand-sm>.container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 576px) {
    .navbar-expand-sm {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }

    .navbar-expand-sm .navbar-nav {
        flex-direction: row;
    }

    .navbar-expand-sm>.container,.navbar-expand-sm>.container-fluid {
        flex-wrap: nowrap;
    }

    .navbar-expand-sm .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }

    .navbar-expand-sm .navbar-toggler {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .navbar-expand-md>.container,.navbar-expand-md>.container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 768px) {
    .navbar-expand-md {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }

    .navbar-expand-md .navbar-nav {
        flex-direction: row;
    }

    .navbar-expand-md>.container,.navbar-expand-md>.container-fluid {
        flex-wrap: nowrap;
    }

    .navbar-expand-md .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }

    .navbar-expand-md .navbar-toggler {
        display: none;
    }
}

@media (max-width: 991.98px) {
    .navbar-expand-lg>.container,.navbar-expand-lg>.container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }

    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }

    .navbar-expand-lg>.container,.navbar-expand-lg>.container-fluid {
        flex-wrap: nowrap;
    }

    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }

    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
}

@media (max-width: 1199.98px) {
    .navbar-expand-xl>.container,.navbar-expand-xl>.container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 1200px) {
    .navbar-expand-xl {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }

    .navbar-expand-xl .navbar-nav {
        flex-direction: row;
    }

    .navbar-expand-xl>.container,.navbar-expand-xl>.container-fluid {
        flex-wrap: nowrap;
    }

    .navbar-expand-xl .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }

    .navbar-expand-xl .navbar-toggler {
        display: none;
    }
}

.navbar-expand {
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.navbar-expand>.container,.navbar-expand>.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.navbar-expand .navbar-nav {
    flex-direction: row;
}

.navbar-expand>.container,.navbar-expand>.container-fluid {
    flex-wrap: nowrap;
}

.navbar-expand .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
}

.navbar-expand .navbar-toggler {
    display: none;
}

@media (max-width: 991.98px) {
    .nav-open .navbar-collapse {
        box-shadow: 0 1px 8px rgba(0,0,0,0.3);
    }
}

.footer {
    background-color: #eee;
    padding: 1rem 0;
    margin-top: 3rem;
}

.footer .footer-icons {
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 32px;
    float: right;
}

.footer .footer-icons a {
    transition: .2s;
    padding-right: 4px;
    text-decoration: none;
}

.footer .footer-icons a:hover {
    opacity: 0.5;
    color: #db4437 !important;
}

.footer .footer-icons a svg {
    display: inline-block;
    height: 1em;
    width: 1.25em;
}

.footer .footer-logo svg {
    fill: #757575;
    margin: 8px 0 4px;
    height: 32px;
}

.footer .footer-text {
    color: #616161;
    margin-bottom: .875rem;
    font-size: .875rem;
}

@media (max-width: 767.98px) {
    .footer,.footer .footer-icons {
        text-align: center;
        float: none;
    }
}

.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    position: relative;
    padding: 12px 30px;
    margin: .3125rem 1px;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.42857;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    border-radius: 45px;
    outline: 0;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: box-shadow, transform;
}

.btn:hover,.btn:focus {
    text-decoration: none;
}

.btn:focus,.btn.focus {
    outline: 0;
    box-shadow: 0 0 8px rgba(0,0,0,0.18),0 8px 16px rgba(0,0,0,0.36);
}

.btn.btn-primary {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
}

.btn.btn-primary,.btn.btn-primary:focus,.btn.btn-primary:hover {
    background-color: white;
    color: #db4437;
}

.btn.btn-primary:hover {
    box-shadow: 0 14px 26px -12px rgba(0,0,0,0.42),0 4px 23px 0 rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.2);
}

.btn.btn-primary.btn-link {
    background-color: transparent !important;
    color: #db4437 !important;
}

.btn.btn-link:hover,.btn.btn-link:focus,.btn.btn-link:active {
    box-shadow: none !important;
    text-decoration: none !important;
}

.btn svg {
    position: relative;
    display: inline-block;
    top: 0;
    margin-top: -1em;
    margin-bottom: -0.8em;
    vertical-align: middle;
    fill: #db4437;
    height: 1.3125rem;
    width: auto;
    padding: .1rem;
}

.btn-link {
    font-weight: 400;
    color: #2196f3;
    background-color: transparent;
}

.btn-link:hover {
    color: #0a6ebd;
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
}

.btn-link:focus {
    text-decoration: underline;
    border-color: transparent;
    box-shadow: none;
}

button {
    outline: 0;
}

.card {
    border: 0;
    border-radius: 6px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    margin-bottom: 24px;
    background-color: white;
}

.card .card-body {
    padding: 16px 24px 0 !important;
}

.card .card-title {
    font-size: 2.125rem;
    font-weight: 400;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    margin-top: 0 !important;
    margin-bottom: 4px !important;
}

.card .card-title a {
    transition: all 0.3s ease-out;
    color: #3C4858;
    text-decoration: none;
}

.card .card-title a:hover {
    color: #db4437 !important;
}

.card .card-text {
    margin: 0;
}

.card h6 {
    margin-bottom: 0;
}

.post .jumbotron h1 {
    font-size: 2.5rem;
}

.post svg {
    display: inline-block;
    vertical-align: top;
    font-size: 1.375rem;
    margin: 0.125rem;
    fill: #424242;
    height: 1.15rem;
    width: auto;
}

.blog_post_image {
    max-width: 100%;
}

.blog_post_image_full {
    width: 100%;
}

.blog_post_image_content {
    max-width: 100%;
    padding: 50px;
}

@media (max-width: 767.98px) {
    .post .jumbotron {
        padding: 24px 0 !important;
    }
}

section.tools,section.security,section.longevity,section.download {
    padding: 6rem 1rem;
}

section.blog {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

section.blog h3 {
    margin-top: 0;
}

section.home,section.tweaks {
    padding: 4rem 1rem;
}

section img {
    max-height: 330px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: .5rem;
}

.section-background-image {
    background-image: linear-gradient(rgba(20,20,20,0.5), rgba(20,20,20,0.5)),url(../image/default_wallpaper.jpg);
}

section.download .logo svg {
    fill: white;
    max-height: 80px;
    height: auto;
    width: auto;
    margin: 0 3rem;
}

img#rotate-on-scroll {
    position: absolute;
    right: 0;
    left: 0;
    bottom: -120px;
    overflow: hidden;
    z-index: -10;
    max-height: none;
    height: 600px;
    max-width: none;
    width: auto;
}

@media (max-width: 991.98px) {
    img#rotate-on-scroll {
        position: relative;
        bottom: 0;
        transform: none !important;
        max-height: 300px;
    }
}

@media (max-width: 575.98px) {
    .section-background-image {
        background-image: linear-gradient(rgba(20,20,20,0.5), rgba(20,20,20,0.5)),url(../img/default_wallpaper-xs.jpg);
    }
}

*,*::before,*::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    padding-top: 70px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #fff;
}

#main {
    flex: 1;
}

img {
    vertical-align: middle;
    border-style: none;
}

a.fg-primary-dark {
    color: #135957 !important;
}

.feature-inline-image svg {
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
    height: 4rem;
    width: auto;
}

.no-script {
    background: #424242;
    color: white;
    font-weight: 400;
    padding: 8px 0;
}

.no-script a {
    color: white;
    text-decoration: underline;
}

.pb-10 {
    padding-bottom: 2.5rem;
}

.parallax {
    height: auto;
    width: 100%;
    display: block;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.has-ripple {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.ripple {
    display: block;
    position: absolute;
    pointer-events: none;
    border-radius: 50%;
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    background: #fff;
    opacity: 1;
}

.ripple-animate {
    -webkit-animation: ripple;
    -o-animation: ripple;
    animation: ripple;
}

@-webkit-keyframes ripple {
    100% {
        opacity: 0;
        -webkit-transform: scale(2);
        transform: scale(2);
    }
}

@-o-keyframes ripple {
    100% {
        opacity: 0;
        -o-transform: scale(2);
        transform: scale(2);
    }
}

@keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(2);
    }
}

body,h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4 {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 300;
    line-height: 1.5em;
}

h1,h2,h3,.h1,.h2,.h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h4,h5,h6,.h4,.h5,.h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,.h1 {
    font-size: 3.3125rem;
    line-height: 1.15em;
}

h2,.h2 {
    font-size: 2.25rem;
    line-height: 1.5em;
}

h3,.h3 {
    font-size: 1.5625rem;
    line-height: 1.4em;
}

h4,.h4 {
    font-size: 1.125rem;
    line-height: 1.5em;
}

h5,.h5 {
    font-size: 1.0625rem;
    line-height: 1.55em;
    margin-bottom: 15px;
}

h6,.h6 {
    font-size: .75rem;
    text-transform: uppercase;
    font-weight: 500;
}

p {
    font-size: 1rem;
    margin: 0 0 10px;
}

p.feature {
    font-size: 1.1875rem;
    line-height: 1.75rem;
}

b {
    font-weight: 500;
}

a {
    text-decoration: none;
    color: #db4437;
}

a:hover,a:focus {
    color: #12676a;
}

small,.small {
    font-size: 75%;
    color: #777;
}

h2.title {
    margin-bottom: 1rem;
}

.description {
    color: #9e9e9e;
}

.text-primary {
    color: #db4437 !important;
}

a.text-primary:focus,a.text-primary:hover {
    color: #db4437 !important;
}

.text-white {
    color: white !important;
}

.blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid #eee;
}

.blockquote p {
    font-size: 1.063rem;
    font-style: italic;
}

.blockquote small {
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    color: #777;
}

code {
    font-size: 87.5%;
    color: #e91e63;
    word-break: break-word;
}

@media all and (max-width: 991px) {
    [class*="navbar-expand-"]>.container,[class*="navbar-expand-"]>.container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }

    .navbar-collapse {
        position: fixed;
        display: block;
        top: 0px;
        height: 100vh;
        width: 230px;
        right: 0;
        margin-right: 0 !important;
        z-index: 1032;
        visibility: visible;
        background-color: #999;
        overflow-y: visible;
        border-top: none;
        text-align: left;
        padding-right: 0;
        padding-left: 0;
        max-height: none !important;
        -webkit-transform: translate3d(230px, 0, 0);
        -moz-transform: translate3d(230px, 0, 0);
        -o-transform: translate3d(230px, 0, 0);
        -ms-transform: translate3d(230px, 0, 0);
        transform: translate3d(230px, 0, 0);
        -webkit-transition: all .5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -moz-transition: all .5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -o-transition: all .5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -ms-transition: all .5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        transition: all .5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    }

    .navbar-collapse::after {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: #fff;
        display: block;
        content: "";
        z-index: 1;
    }

    .navbar-collapse .navbar-nav {
        position: relative;
        z-index: 3;
    }

    .navbar-collapse .navbar-nav .nav-item .nav-link {
        color: #3C4858;
        margin: 5px 15px;
    }

    .navbar-collapse .navbar-nav .nav-item.button-container .nav-link {
        margin: 15px;
    }

    .navbar-collapse .navbar-nav .nav-item:after {
        width: calc(100% - 30px);
        content: "";
        display: block;
        height: 1px;
        margin-left: 15px;
        background-color: #e5e5e5;
    }

    .navbar-collapse .navbar-nav .nav-item:last-child:after {
        display: none;
    }

    .nav-open .navbar-collapse {
        -webkit-transform: translate3d(0px, 0, 0);
        -moz-transform: translate3d(0px, 0, 0);
        -o-transform: translate3d(0px, 0, 0);
        -ms-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
    }

    .nav-open .navbar-translate {
        -webkit-transform: translate3d(-230px, 0, 0);
        -moz-transform: translate3d(-230px, 0, 0);
        -o-transform: translate3d(-230px, 0, 0);
        -ms-transform: translate3d(-230px, 0, 0);
        transform: translate3d(-230px, 0, 0);
    }

    .navbar .navbar-translate {
        width: 100%;
        position: relative;
        display: flex;
        -ms-flex-pack: justify !important;
        justify-content: space-between !important;
        -ms-flex-align: center;
        align-items: center;
        -webkit-transition: transform .5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -moz-transition: transform .5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -o-transition: transform .5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -ms-transition: transform .5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        transition: transform .5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    }

    .navbar.bg-white .navbar-toggler .navbar-toggler-icon {
        background-color: #db4437;
    }

    #bodyClick {
        height: 100%;
        width: 100%;
        position: fixed;
        opacity: 0;
        top: 0;
        left: auto;
        right: 230px;
        content: "";
        z-index: 1029;
        overflow-x: hidden;
    }
}

@media all and (min-width: 991px) {
    .navbar .navbar-nav {
        align-items: center;
    }

    .navbar .navbar-nav .button-container {
        margin-left: 0.1875px;
    }
}

@media screen and (max-width: 991px) {
@    keyframes topbar-x {
        0%{top: 0px;
        transform: rotate(0deg);
    }

    45% {
        top: 6px;
        transform: rotate(145deg);
    }

    75% {
        transform: rotate(130deg);
    }

    100% {
        transform: rotate(135deg);
    }
}

@-webkit-keyframes topbar-x {
    0% {
        top: 0px;
        -webkit-transform: rotate(0deg);
    }

    45% {
        top: 6px;
        -webkit-transform: rotate(145deg);
    }

    75% {
        -webkit-transform: rotate(130deg);
    }

    100% {
        -webkit-transform: rotate(135deg);
    }
}

@-moz-keyframes topbar-x {
    0% {
        top: 0px;
        -moz-transform: rotate(0deg);
    }

    45% {
        top: 6px;
        -moz-transform: rotate(145deg);
    }

    75% {
        -moz-transform: rotate(130deg);
    }

    100% {
        -moz-transform: rotate(135deg);
    }
}

@keyframes topbar-back {
    0% {
        top: 6px;
        transform: rotate(135deg);
    }

    45% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(5deg);
    }

    100% {
        top: 0px;
        transform: rotate(0);
    }
}

@-webkit-keyframes topbar-back {
    0% {
        top: 6px;
        -webkit-transform: rotate(135deg);
    }

    45% {
        -webkit-transform: rotate(-10deg);
    }

    75% {
        -webkit-transform: rotate(5deg);
    }

    100% {
        top: 0px;
        -webkit-transform: rotate(0);
    }
}

@-moz-keyframes topbar-back {
    0% {
        top: 6px;
        -moz-transform: rotate(135deg);
    }

    45% {
        -moz-transform: rotate(-10deg);
    }

    75% {
        -moz-transform: rotate(5deg);
    }

    100% {
        top: 0px;
        -moz-transform: rotate(0);
    }
}

@keyframes bottombar-x {
    0% {
        bottom: 0px;
        transform: rotate(0deg);
    }

    45% {
        bottom: 6px;
        transform: rotate(-145deg);
    }

    75% {
        transform: rotate(-130deg);
    }

    100% {
        transform: rotate(-135deg);
    }
}

@-webkit-keyframes bottombar-x {
    0% {
        bottom: 0px;
        -webkit-transform: rotate(0deg);
    }

    45% {
        bottom: 6px;
        -webkit-transform: rotate(-145deg);
    }

    75% {
        -webkit-transform: rotate(-130deg);
    }

    100% {
        -webkit-transform: rotate(-135deg);
    }
}

@-moz-keyframes bottombar-x {
    0% {
        bottom: 0px;
        -moz-transform: rotate(0deg);
    }

    45% {
        bottom: 6px;
        -moz-transform: rotate(-145deg);
    }

    75% {
        -moz-transform: rotate(-130deg);
    }

    100% {
        -moz-transform: rotate(-135deg);
    }
}

@keyframes bottombar-back {
    0% {
        bottom: 6px;
        transform: rotate(-135deg);
    }

    45% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        bottom: 0px;
        transform: rotate(0);
    }
}

@-webkit-keyframes bottombar-back {
    0% {
        bottom: 6px;
        -webkit-transform: rotate(-135deg);
    }

    45% {
        -webkit-transform: rotate(10deg);
    }

    75% {
        -webkit-transform: rotate(-5deg);
    }

    100% {
        bottom: 0px;
        -webkit-transform: rotate(0);
    }
}

@-moz-keyframes bottombar-back {
    0% {
        bottom: 6px;
        -moz-transform: rotate(-135deg);
    }

    45% {
        -moz-transform: rotate(10deg);
    }

    75% {
        -moz-transform: rotate(-5deg);
    }

    100% {
        bottom: 0px;
        -moz-transform: rotate(0);
    }
}

.navbar .navbar-toggler .navbar-toggler-icon:nth-child(2) {
    top: 0px;
    -webkit-animation: topbar-back 500ms linear 0s;
    -moz-animation: topbar-back 500ms linear 0s;
    animation: topbar-back 500ms 0s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.navbar .navbar-toggler .navbar-toggler-icon:nth-child(3) {
    opacity: 1;
}

.navbar .navbar-toggler .navbar-toggler-icon:nth-child(4) {
    bottom: 0px;
    -webkit-animation: bottombar-back 500ms linear 0s;
    -moz-animation: bottombar-back 500ms linear 0s;
    animation: bottombar-back 500ms 0s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.navbar .navbar-toggler.toggled .navbar-toggler-icon:nth-child(2) {
    top: 6px;
    -webkit-animation: topbar-x 500ms linear 0s;
    -moz-animation: topbar-x 500ms linear 0s;
    animation: topbar-x 500ms 0s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.navbar .navbar-toggler.toggled .navbar-toggler-icon:nth-child(3) {
    opacity: 0;
}

.navbar .navbar-toggler.toggled .navbar-toggler-icon:nth-child(4) {
    bottom: 6px;
    -webkit-animation: bottombar-x 500ms linear 0s;
    -moz-animation: bottombar-x 500ms linear 0s;
    animation: bottombar-x 500ms 0s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.text-center {
    text-align: center;
}

@media (min-width: 992px) {
    .text-lg-left {
        text-align: left;
    }
}

.bg-primary {
    background-color: #db4437 !important;
    color: white;
}

.bg-primary-lighter {
    background-color: #E0F6F7 !important;
    color: black;
}

.bg-dark {
    background-color: #343a40;
    color: white;
}

.justify-content-between {
    justify-content: space-between !important;
}

.align-items-center {
    align-items: center !important;
}

.align-items-bottom {
    align-items: flex-end;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.img-fluid svg {
    max-width: 100%;
    height: auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    clip-path: inset(50%);
    border: 0;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
}

.table th,.table td {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    text-align: inherit;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    font-weight: 500;
}

.table tbody+tbody {
    border-top: 2px solid #dee2e6;
}

.table .table {
    background-color: #fff;
}

.table tr:nth-child(even) {
    background-color: #f0f0f0;
}

@media (max-width: 575.98px) {
    .table {
        border-spacing: 0px;
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}

.table-sm th,.table-sm td {
    padding: .3rem;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table-bordered th,.table-bordered td {
    border: 1px solid #dee2e6;
}

.table-bordered thead th,.table-bordered thead td {
    border-bottom-width: 2px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,0.05);
}

.table-hover tbody tr:hover {
    background-color: rgba(0,0,0,0.075);
}

.table-primary,.table-primary>th,.table-primary>td {
    background-color: #c1e2fc;
}

.table-hover .table-primary:hover {
    background-color: #a9d7fb;
}

.table-hover .table-primary:hover>td,.table-hover .table-primary:hover>th {
    background-color: #a9d7fb;
}

.table-secondary,.table-secondary>th,.table-secondary>td {
    background-color: #d6d8db;
}

.table-hover .table-secondary:hover {
    background-color: #c8cbcf;
}

.table-hover .table-secondary:hover>td,.table-hover .table-secondary:hover>th {
    background-color: #c8cbcf;
}

.table-success,.table-success>th,.table-success>td {
    background-color: #cde9ce;
}

.table-hover .table-success:hover {
    background-color: #bbe1bd;
}

.table-hover .table-success:hover>td,.table-hover .table-success:hover>th {
    background-color: #bbe1bd;
}

.table-info,.table-info>th,.table-info>td {
    background-color: #b8ecf3;
}

.table-hover .table-info:hover {
    background-color: #a2e6ef;
}

.table-hover .table-info:hover>td,.table-hover .table-info:hover>th {
    background-color: #a2e6ef;
}

.table-warning,.table-warning>th,.table-warning>td {
    background-color: #fff9c8;
}

.table-hover .table-warning:hover {
    background-color: #fff6af;
}

.table-hover .table-warning:hover>td,.table-hover .table-warning:hover>th {
    background-color: #fff6af;
}

.table-danger,.table-danger>th,.table-danger>td {
    background-color: #fccac7;
}

.table-hover .table-danger:hover {
    background-color: #fbb3af;
}

.table-hover .table-danger:hover>td,.table-hover .table-danger:hover>th {
    background-color: #fbb3af;
}

.table-light,.table-light>th,.table-light>td {
    background-color: #fdfdfe;
}

.table-hover .table-light:hover {
    background-color: #ececf6;
}

.table-hover .table-light:hover>td,.table-hover .table-light:hover>th {
    background-color: #ececf6;
}

.table-dark,.table-dark>th,.table-dark>td {
    background-color: #c6c8ca;
}

.table-hover .table-dark:hover {
    background-color: #b9bbbe;
}

.table-hover .table-dark:hover>td,.table-hover .table-dark:hover>th {
    background-color: #b9bbbe;
}

.table-active,.table-active>th,.table-active>td {
    background-color: rgba(0,0,0,0.075);
}

.table-hover .table-active:hover {
    background-color: rgba(0,0,0,0.075);
}

.table-hover .table-active:hover>td,.table-hover .table-active:hover>th {
    background-color: rgba(0,0,0,0.075);
}

.table .thead-dark th {
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
}

.table .thead-light th {
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.table-dark {
    color: #fff;
    background-color: #212529;
}

.table-dark th,.table-dark td,.table-dark thead th {
    border-color: #32383e;
}

.table-dark.table-bordered {
    border: 0;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255,255,255,0.05);
}

.table-dark.table-hover tbody tr:hover {
    background-color: rgba(255,255,255,0.075);
}

@media (max-width: 575.98px) {
    .table-responsive-sm {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    .table-responsive-sm>.table-bordered {
        border: 0;
    }
}

@media (max-width: 767.98px) {
    .table-responsive-md {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    .table-responsive-md>.table-bordered {
        border: 0;
    }
}

@media (max-width: 991.98px) {
    .table-responsive-lg {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    .table-responsive-lg>.table-bordered {
        border: 0;
    }
}

@media (max-width: 1199.98px) {
    .table-responsive-xl {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    .table-responsive-xl>.table-bordered {
        border: 0;
    }
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-responsive>.table-bordered {
    border: 0;
}
.header{
    -webkit-animation:rotateImg 1s linear infinite;
    width: 80px ;
    height: 80px;
    border: 1px solid #ccc;
    vertical-align: middle;
}

@keyframes rotateImg {
  0% {transform : rotate(0deg);}
  100% {transform : rotate(360deg);}
}

@-webkit-keyframes rotateImg {
    0%{-webkit-transform : rotate(0deg);}
  100%{-webkit-transform : rotate(360deg);}
}
